*.env
*.php
*.php
*.php
resources/views/front/faq/index.blade.php
*.md
*.rst
*.png
vendor/nesbot/carbon/LICENSE
*.yml
vendor/nikic/php-parser/grammar/tokens.template
*.y
*.test
*.asc
*.pubkey
*.sh
*.php
*.php
*.php
vendor/bin/php-parse
*.json
vendor/classpreloader/classpreloader/LICENSE
*.txt
*.xml
vendor/hamcrest/hamcrest-php/tests/phpunit.xml.dist
*.stub
*.inc
*.js
vendor/phpunit/php-code-coverage/tests/_files/Report/HTML/CoverageForFileWithIgnoredLines/index.html
*.dist
vendor/webmozart/assert/LICENSE
*.gif
vendor/symfony/yaml/LICENSE
*.xlf
*.csv
vendor/symfony/translation/Tests/fixtures/resources.ts
*.po
vendor/symfony/translation/Tests/fixtures/resources.mo
*.ini
vendor/symfony/translation/Tests/fixtures/resourcebundle/res/en.res
*.dat
*.res
*.mo
*.apache
*.xsd
*.copy
*.html
*.phpt
vendor/symfony/http-foundation/Tests/File/Fixtures/test
*.example
vendor/symfony/debug/Resources/ext/config.m4
*.exe
*.key
*.crt
*.graffle
*.default
vendor/swiftmailer/swiftmailer/tests/_samples/files/textfile.zip
*.priv
vendor/swiftmailer/swiftmailer/tests/_samples/smime/CA.srl
*.py
vendor/psy/psysh/test/fixtures/legacy/.psysh/php_manual.sqlite
*.sqlite
*.phar
vendor/phpunit/phpunit-mock-objects/tests/_fixture/GoogleSearch.wsdl
*.woff2
*.woff
vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/fonts/glyphicons-halflings-regular.ttf
*.css
vendor/phpunit/php-code-coverage/src/Report/Html/Renderer/Template/fonts/glyphicons-halflings-regular.eot
*.svg
vendor/phpdocumentor/reflection-common/composer.lock
*.file-test
*.markdown
*.template
*.php